form {
  text-align: center;
  padding: 50px 0 0 0;
}
.week {
  text-align: center;
}
.sol {
  color: #fed049;
}

.nube {
  color: #aaaaaa;
}

.solNube {
  color: #a7c5eb;
}

.lluvia {
  color: #a685e2;
}

.rayo {
  color: #fd3a69;
}

hr {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  font-weight: bolder;
}

.week {
  text-align: center;
}
.dia {
  font-weight: bold;
}

.tempo {
  color: #ffa62b;
}

.city {
  color: #fd3a69;
  margin: 0 0 0 220px;
}

.date {
  color: #ffc75f;
  margin: 0 0 50px 220px;
}

.temp {
  color: #ff577f;
  font-weight: bolder;
  font-size: 60px;
  margin: 20px 0 0;
  padding: 0 0 0 100px;
}

.resum {
  background-color: #f6f5f5;
  text-align: center;
}

.sol1 {
  font-size: 80px;
  color: #fddb3a;
}

.desc {
  font-size: 11px;
  padding: 0 0 20px 0;
}
