.weather-app {
  max-width: 300px;
  margin: 40px auto;
  border: 1px solid #dfe0e7;
  border-radius: 10px;
  padding: 20px;
}

.input-box {
  margin: 40px auto;
  text-align: center;
}

.mon-description {
  margin: 40px auto;
  text-align: center;
  font-family: monospace;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #ffcc29;
  font-weight: bolder;
}

li {
  list-style: none;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

#date {
  color: #ff005c;
}
